%h1.visuallyhidden Careers

.block
   %p
      We are currently interviewing for the following positions:
   %h3
      Architect Part III
   %p
      Minimum 3 years post Part III experience.
   %h3
      Architectural Assistant Part II
   %p
      Minimum 3 years post Part II experience. AutoCad fluency essential.
%p
   Please forward a copy of your current cv, together with a covering letter to:&dash;

%p
   Sachiko Miyata
   %br
   Christopher Egan Architecture Ltd
   %br
   6th Floor
   %br
   23-25 Eastcastle Street
   %br
   London W1W 8DF
%p
   %a{:href => "mailto:admin@christopher-egan.com"}
      admin@christopher-egan.com